<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mapper.master.datacollect.AsyncExecutorValidMapper">
	<select id="getColumnFiledsByTableName" resultType="java.util.Map">
		SELECT
		T1.TABLE_NAME AS STABLENAME,
		T2.TABLE_COMMENT AS STABLECOMMENT,
		T1.COLUMN_NAME AS SFIELDNAME,
		T1.COLUMN_COMMENT AS SCOLUMNCOMMENT,
		(CASE T1.IS_NULLABLE WHEN 'NO'THEN 'N'ELSE 'Y'END )AS IREQUIRED,
		T1.DATA_TYPE AS IFIELDTYPE,
		(CASE WHEN T1.CHARACTER_MAXIMUM_LENGTH IS
		NULL THEN 0 ELSE
		T1.CHARACTER_MAXIMUM_LENGTH END )AS IFIELDLENGTH,
		(
		CASE WHEN T1.NUMERIC_PRECISION IS NULL THEN 0 ELSE
		T1.NUMERIC_PRECISION END )AS IFIELDPREC,
		T1.NUMERIC_SCALE AS
		IFIELDSCALE,
		(CASE T1.COLUMN_KEY WHEN 'PRI'THEN 'P'ELSE ''END ) AS
		SCONSTRAINTTYPE,
		T1.COLUMN_DEFAULT AS SDEFAULTVALUE,
		T1.ORDINAL_POSITION AS SORT
		FROM
		INFORMATION_SCHEMA.COLUMNS T1
		JOIN
		INFORMATION_SCHEMA.TABLES T2
		ON
		T1.TABLE_NAME = T2.TABLE_NAME
		AND
		T1.TABLE_SCHEMA = T2.TABLE_SCHEMA
		WHERE
		T1.TABLE_SCHEMA = DATABASE()
		AND
		T1.COLUMN_NAME NOT LIKE 'sys_%'
		<if test="realTableName != null and realTableName.size > 0">
			AND T1.TABLE_NAME in
			<foreach item="item" collection="realTableName" separator=","
				open="(" close=")" index="">#{item, jdbcType=VARCHAR}</foreach>
		</if>
		ORDER BY
		T1.TABLE_NAME,T1.COLUMN_NAME
	</select>
	<insert id="insertCollectColumns">
		INSERT INTO collect_columns(template_id,column_ch_name,column_en_name,table_name,sort)
		VALUES (#{templateId},#{columnChName},#{columnEnName},#{tableName},#{sort})
	</insert>
	<insert id="insertCollectRule">
		INSERT INTO collect_rule(column_id,rule_type,max_length,is_null)
		VALUES (#{columnId},#{ruleType},#{maxLength},#{isNull})
	</insert>
	<delete id="truncateCollectColumne">
		truncate table collect_columns
	</delete>
	
	<delete id="truncateCollectRule">
	truncate table collect_rule
	</delete>
	
</mapper>